{% macro render_field(field) %}
	{% if field.type in ['SelectField'] %}
		{{ field(**kwargs)|safe }}
	{% elif field.type in ['StringField'] %}
		{{ field(placeholder=field.description)|safe }}
	{% elif field.type in ['IntegerField'] %}
		{{ field(placeholder=field.description)|safe }}
	{% elif field.type in ['SubmitField'] %}
		{{ field(**kwargs)|safe }}
	{% elif field.type in ['DateTimeField', 'DateField'] %}
		{{ field(placeholder=field.description)|safe }}
	{% elif field.type in ['BooleanField'] %}
		{{ field(placeholder=field.description)|safe }}<a>Email a copy</a><br>
	{% endif %}
{% endmacro %}
