{% extends "layout.html" %}
{% block body %}
{% from "_formhelpers_location_fields.html" import render_field %}

<div class="text_body">
	<h2>Design Trials</h2>
    <form>
        <div id="trial_selection">
            <h3>Select or create a trial</h3>
            <dd>{{ render_field (trial_form.country) }}</dd>
            <dd>{{ render_field (trial_form.region) }}</dd>
            <dd>{{ render_field (trial_form.farm) }}</dd>
            <dd>{{ render_field (trial_form.field) }}</dd>
            <dd>{{  render_field (trial_form.select_trial)  }}</dd>
            <dd>
                <p>
                    Please select a field/farm/region/country above
                    before registering a new trial.
                    It will be created in this context for
                    your subsequent filtering.
                </p>
                {{  render_field (add_trial_form.text_trial)  }}
                {{  render_field (add_trial_form.submit_trial)  }}
            </dd>
        </div>
		<div id="level_choice">
		    <h3>Type of item to be assessed in the trial</h3>
			{{ render_field (trial_form.item_level) }}
		</div>
        <div id="location">
            <h3>Filter to select specific item/s</h3>

        </div>
        <div id="block_div">
            <dd>{{ render_field (location_form.block) }}</dd>
        </div>
        <div id = 'tree_selection_div' title="ID is the integer from the end of a UID, e.g. from 1_T2 the ID is 2">
            <dd>{{ render_field (trial_form.tree_id_list) }}</dd>
        </div>
        <div id="item_count_div">
            <h3>Selection</h3>
            <p><a>0</a> <a>items</a></p>
        </div>
	{{ trial_form.csrf_token }}
	</form>


 </div>
{% endblock %}