@import url("/static/jquery-ui-1.12.1.custom/jquery-ui.css");
body { 
	background-color: #ffe7d0;
	}
h1,h2,h3,a 	{ 
	text-decoration: none; 
	color: #6f4e37;
	font-family: serif;}
h2 {
	border-bottom: 2px solid #6f4e37;
	padding: 3px; }
h3	{ 
	padding: 3px; }
svg { 
	border: 5px solid #6f4e37; 
	padding: 10px; }

#feature_selection {
	max-height:500px;
}
#feature_checkbox_div {
	max-height:400px;
	overflow: auto;
}

.page				{
					margin: 10%;
					margin-top: 5%;
					padding: 2%;
					min-width: 75%; 
					border: 5px 
					solid #6f4e37; 
					background: #ffffea;
					display: flex;
					flex-wrap: wrap;
					}
.metanav			{
					font-size: 0.8em;
					padding: 0.3em;
					display: flex;
					flex-wrap:wrap;
					justify-content: space-evenly;
					margin-left: auto;
					}
.header				{
					padding: 10px;
					min-width:95%;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: space-around;
					}
.utils				{
					display: flex;
					flex-wrap: nowrap;
					min-width:22%;
					padding: 5px;
					align-items: center ;

					}
.main				{
					padding: 0.8em;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-evenly;

					padding: 2%;
					}	
.text_body			{
					display: flex;
					flex-direction: column;
					flex: 1;
					padding: 0.8em; 
					}

.chart				{
					padding: 0.8em; 
					}
.flash				{
					flex: 0 1 95%;
					margin: 1%;
					background: #E1F0B7; 
					padding: 0.5em; 
					border: 1px solid #627138; }

.flash_red			{
					flex: 0 1 95%;
					margin: 1%;
					background: #f0b7e1;
					padding: 0.5em;
					border: 1px solid #627138; }

.error				{ background: #f0d6d6; 
					padding: 0.5em; }
.root_node			{
					stroke: none;
					fill: none;
					}

.collapsedroot_node	{
					stroke: none;
					fill: none;
					}

.textroot_node		{
					stroke: none;
					fill: none;
					}

.countroot_node		{
					stroke: black;
					fill:black;
					}

.Country, .Region, .Farm, .Field, .Block{
					stroke: black;
					fill: #996633 ;
					fill-opacity:0.4
					}

.collapsedCountry, .collapsedRegion, .collapsedFarm, .collapsedField{
					stroke: green;
					fill: #996633;
					fill-opacity:0.8
					}


.textCountry, .textRegion, .textFarm, .textField{
					stroke: black;
					fill: black;
					fill-opacity:1
					}

.countCountry, .countRegion, .countFarm, .countField{
					stroke: black;
					fill: black;
					fill-opacity:1;
					}

.Tree{
					stroke: black;
					fill: #009900;
					fill-opacity:0.8
					}
.Branch{
					stroke: black;
					fill: #669900;
					fill-opacity:0.8
					}
.Leaf{
					stroke: black;
					fill: #99cc00;
					fill-opacity:0.8
					}
.Sample{
					stroke: black;
					fill: #cccc00;
					fill-opacity:0.8
					}
.Trait{
					stroke: black;
					fill: orange;
					fill-opacity:0.8
					}
.Data{
					stroke: red;
					fill: red;
					fill-opacity:0.8
					}
				
.link { stroke: #999; stroke-opacity: 1; stroke-width: 2px; fill:none; }

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

