body				{ font-family: sans-serif; background: #eee; }
a, h1, h3			{ color: #377ba8; }
h1, h2, h3			{ font-family: 'Georgia', serif; margin: 0; }
h1, h2				{ border-bottom: 2px solid #eee; padding: 3px; }
h3					{ padding: 3px; }
dd					{ display: block; margin-left: 0px; }
dl					{ font-weight: bold; }
a:visited			{ color: #800080; }
svg					{ border: 5px solid #ccc; padding: 0.8em; background: white; stroke : #cee5F5; fill: blue}
.page				{ margin: 2em auto; width: 35em; border: 5px solid #ccc; padding: 0.8em; background: white; }
					h1,h2,h3,a { text-decoration: none; }
.metanav			{ text-align: right; font-size: 0.8em; padding: 0.3em; margin-bottom: 1em; background: #fafafa; }
.flash				{ background: #cee5F5; padding: 0.5em; border: 1px solid #aacbe2; }
.error				{ background: #f0d6d6; padding: 0.5em; }
.utils				{ text-align: right; } 
					a { padding: 5px; }

.Country, .Region, .Farm, .Plot{
					stroke: green;
					fill: green;
					fill-opacity:0.4
					}
.Tree{
					stroke: brown;
					fill: brown;
					fill-opacity:0.4
					}
.Trait{
					stroke: orange;
					fill: orange;
					fill-opacity:0.4
					}
.Data{
					stroke: red;
					fill: red;
					fill-opacity:0.4
					}
.link { stroke: #999; stroke-opacity: 0.6; stroke-width: 2px; }
