{% macro render_field(field) %}
	{% if field.type in ['BooleanField'] %}
		{{ field(placeholder=field.description)|safe }}<a>Email a copy</a><br>
	{% elif field.type in ['StringField'] %}
		{{ field(placeholder=field.description)|safe }}
	{% elif field.type in ['SubmitField'] %}
		{{ field(**kwargs)|safe }}</dd>
	{% else %}
	<h3 id="{{ field.name }} title">{{ field.label }}</h3>
		{% if field.errors %}
			{% for error in field.errors %}
				<a>{{ error }}</a>
			{% endfor %}
		{% endif %}
	</dt>
	<dd>{{ field(**kwargs)|safe }}</dd>
	{% endif %}
{% endmacro %}