{% extends "layout.html" %}	
{% block body %}
<div class="text_body">
	<h2>Collect Samples</h2>
		{% from "_formhelpers_location_fields.html" import render_field %}
	<form>
		{{ location_form.csrf_token }}
		<!-- Samples -->
		<div id=sample_collection>
			<h3>Location</h3>
				<dt>{{ location_form.country }}</dt>
				<dt>{{ location_form.region }}</dt>
				<dt>{{ location_form.farm }}</dt>
				<dt>{{ location_form.trial }}</dt>
			<h3>Trees</h3>
			<p>ID is the number from the end of a UID, e.g. from 1_T2 the ID is 2.<br>The other parameters denote the trial (1) and the level (T = Tree)</p>
					<dd>{{ sample_reg_form.trees_start(placeholder=sample_reg_form.trees_start.description) }}
					{{ sample_reg_form.trees_end(placeholder=sample_reg_form.trees_end.description) }} </dd>
			<h3>Sampling details</h3>
			<dt>{{ sample_reg_form.tissue }}
				{{ add_tissue_form.text_tissue(placeholder = add_tissue_form.text_tissue.description) }}
				{{ add_tissue_form.submit_tissue }}</dt>
			<dt>{{ sample_reg_form.storage }}
				{{ add_storage_form.text_storage(placeholder=add_storage_form.text_storage.description) }}
				{{ add_storage_form.submit_storage }}</dt>
			<dt>{{ sample_reg_form.replicates(placeholder = sample_reg_form.replicates.description) }}</dt>
			<dt>{{ sample_reg_form.date_collected(placeholder = sample_reg_form.date_collected.description) }}</dt>
			<br>
			<dt>{{ render_field (sample_reg_form.submit_samples) }}{{ render_field (sample_reg_form.email_checkbox) }}</dt>
		</div>
	</form>
</div>
<script src="{{ url_for('static', filename='jquery_1.8.3_min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery_location.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui-1.12.1.custom/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='jquery_samples.js') }}"></script>
{% endblock %}
