{% extends "layout.html" %}	
{% block body %}
<div class="text_body">
	<h2>Collect</h2>
        <p>Here you can generate templates for data collection and sample registration</p>
        <p>Select the appropriate filters to identify the items of interest</p>
		{% from "_formhelpers_location_fields.html" import render_field %}
	<form>
		{{ collect_form.csrf_token }}
		<!--{{ location_form.csrf_token }}-->
		<div id="level_choice">
		    <h3>Level</h3>
			{{ collect_form.trait_level }}
		</div>
        <div id="location" title="Select a location">
            <h3>Fields, Blocks and/or Trees selection</h3>
                <dt>{{ location_form.country }}</dt>
                <dt>{{ location_form.region }}</dt>
                <dt>{{ location_form.farm }}</dt>
                <dt>{{ location_form.field }}</dt>
    			<dt>{{ location_form.block }}</dt>
        </div>
		<div id=trees>
            <div id="tree_ids" title="ID is the integer from the end of a UID, e.g. from 1_T2 the ID is 2">
                    <dt>
                        {{ collect_form.trees_start(placeholder=collect_form.trees_start.description) }}
                        {{ collect_form.trees_end(placeholder=collect_form.trees_end.description) }}
                    </dt>
            </div>
		</div>
        <div id="branches_leaves_samples">
            <h3>Branches, Leaves or Samples creation and/or selection</h3>
            <p>Items will be created for (or selected from) trees corresponding to the above selection</p>
            <dt>{{ collect_form.create_new_items }}</dt>
            <div id="branches">
                <div id=branch_ids class="existing" title="ID is the integer from the end of a UID, e.g. from 1_R2 the ID is 2">
                    <dl>
                        <dt>
                            {{ collect_form.branches_start(placeholder=collect_form.branches_start.description) }}
                            {{ collect_form.branches_end(placeholder=collect_form.branches_end.description) }}
                        </dt>
                    </dl>
                </div>
            </div>
            <div id="leaves">
                <div id="leaf_ids" class="existing" title="ID is the integer from the end of a UID, e.g. from 1_L2 the ID is 2">
                    <dl>
                        <dt>
                            {{ collect_form.leaves_start(placeholder=collect_form.leaves_start.description) }}
                            {{ collect_form.leaves_end(placeholder=collect_form.leaves_end.description) }}
                        </dt>
                    </dl>
                </div>
            </div>
            <div id="samples">
                <div id="sample_type">
					    <dt>{{ sample_reg_form.tissue }}</dt>
                        <dt>{{ sample_reg_form.harvest_condition }}</dt>
                </div>
                <div id="sample_ids" class="existing">
                       <dt>
                           {{ collect_form.date_from(placeholder = collect_form.date_from.description) }}
                           {{ collect_form.date_to(placeholder = collect_form.date_to.description) }}
                       </dt>
                       <dt>
                           {{ collect_form.samples_start(placeholder = collect_form.samples_start.description) }}
                           {{ collect_form.samples_end(placeholder = collect_form.samples_end.description) }}
                       </dt>
                </div>
            </div>
            <div id="replicates" class="new">
                <dt class="samples">{{collect_form.samples_pooled(placeholder = collect_form.samples_pooled.description)}}</dt>
                <dt class="single">{{collect_form.per_tree_replicates(placeholder = collect_form.per_tree_replicates.description)}}</dt>
                <dt class="samples pooled">{{collect_form.samples_count(placeholder = collect_form.samples_count.description)}}</dt>
                <dt class="samples" title="Optionally create multiple rows per sample in template">{{collect_form.per_sample_replicates(placeholder = collect_form.per_sample_replicates.description)}}</dt>
            </div>
        </div>
        <div id=trait_selection>
            <h3>Trait Selection</h3>
			{% include 'traits_form.html' %}
		</div>
		<h3>File type</h3>
			<dt>{{ collect_form.template_format }} </dt>
			<dt>
				{{ collect_form.submit_collect }}
				<input id="email_checkbox" name="email_checkbox" placeholder="" value="y" type="checkbox">
				<a>Email a copy</a>
			</dt>
		</div>
	</form>
</div>
<script src="{{ url_for('static', filename='jquery_1.8.3_min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery_location.js') }}"></script>
<script src="{{ url_for('static', filename='jquery_collect.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui-1.12.1.custom/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='jquery_samples.js') }}"></script>
{% endblock %}
