{% extends "layout.html" %}	
{% block body %}
<div class="text_body">
	<h2>Collect Samples</h2>
    {% from "_formhelpers_location_fields.html" import render_field %}
	<form>
        <div id="sample_type">
            <h3>Sampling activity</h3>
            {{  render_field (collect_form.sampling_activity) }}
        </div>
		<div id="level_choice">
		    <h3>Type of item to be sampled</h3>
			{{ render_field (collect_form.item_level) }}
		</div>
        <div id="location">
            <h3>Filter to select specific item/s</h3>
            <dd>{{ render_field (location_form.country) }}</dd>
            <dd>{{ render_field (location_form.region) }}</dd>
            <dd>{{ render_field (location_form.farm) }}</dd>
            <dd>{{ render_field (location_form.field) }}</dd>
        </div>
        <div id="block_div">
            <dd>{{ render_field (location_form.block) }}</dd>
        </div>
        <div id = 'tree_selection_div' title="ID is the integer from the end of a UID, e.g. from 1_T2 the ID is 2">
            <dd>{{ render_field (collect_form.tree_id_list) }}</dd>
        </div>
        <div id = 'sample_selection_div' title="ID is the integer from the end of a UID, e.g. from 1_S2 the ID is 2">
            <dd>{{ render_field (collect_form.sample_id_list) }}</dd>
        </div>
        <div id="item_count_div">
            <h3>Selection</h3>
            <p><a>0</a> <a>items</a></p>
        </div>
         <div id="replicates" title="Number of samples to register per item in the selection">
            <dt>
                {{ render_field (collect_form.per_item_count) }}
            </dt>
        </div>
        <div id="file_creation">
		<h3>File type</h3>
			<dt>
				{{ render_field (collect_form.submit_collect) }}
				<input id="email_checkbox" name="email_checkbox" placeholder="" value="y" type="checkbox" checked>
				<a>Email a copy</a>
			</dt>
		</div>
	{{ collect_form.csrf_token }}
	</form>
</div>
<script src="{{ url_for('static', filename='jquery_1.8.3_min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery_location.js') }}"></script>
<script src="{{ url_for('static', filename='jquery_collect.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui-1.12.1.custom/jquery-ui.js') }}"></script>
{% endblock %}
