{% extends "layout.html" %}
{% block body %}
<div class="text_body">
{% from "_formhelpers.html" import render_field %}
	<h2>Delete Records</h2>
		<form action="{{ url_for('correct') }}" method="post" enctype=multipart/form-data>
		{{ correct_form.csrf_token }}
			<dl>
				{{ render_field(correct_form.submission_type) }}
				{{ render_field(correct_form.file) }}
				{{ render_field(correct_form.correct_submit) }}
			</dl>
		</form>
</div>
<script src="{{ url_for('static', filename='jquery_1.8.3_min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery_correct.js') }}"></script>
{% endblock %}