{% extends "layout.html" %}	
{% block body %}
{% from "_formhelpers_dynamic.html" import render_field %}
<noscript>This form requires that you have javascript enabled to work properly, please enable javascript in your browser.</noscript>
<h2>Fieldbook tools</h2>
<h3>Register fields</h3>
	<form action="{{ url_for('create_fields') }}" method="post">
	{{ form.csrf_token }}
		<dl>
			{{ render_field(form.country) }}
			{{ render_field(form.region) }}
			{{ render_field(form.farm) }}
			{{ render_field(form.plot) }}
		</dl>
		<input type="submit" value="Update">
	</form>
{% endblock %}
