{% extends "layout.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<div class="text_body">
	<h2> Select data to download</h2>
		<form action="{{ url_for('download') }}" id="download" method="post">
			<h3>Location</h3>
				<dt>{{ location_form.csrf_token }}</dt>
				<dt>{{ location_form.country }}</dt>
				<dt>{{ location_form.region }}</dt>
				<dt>{{ location_form.farm }}</dt>
				<dt>{{ location_form.plot }}</dt>
				<dt>{{ location_form.block }}</dt>
			<h3>Date recorded</h3>
				<dt>{{ download_form.date_from(placeholder="From date") }}</dt>
				<dt>{{ download_form.date_to(placeholder="To date") }}</dt>
			<h3>Level</h3>
				<dt>{{ download_form.trait_level }}</dt> <br>
<!-- render all the traits forms and hide those that aren't relevant (the fields have prefixes so not name shadowning -->
			<h3>Traits</h3>
				{% include 'traits_form.html' %}
			<dt>{{ download_form.data_format }}</dt> <br>
			<dt>{{ download_form.submit_download }} {{ render_field(block_traits_form.email_checkbox) }}</dt>
		</form>
</div>
{% endblock %}
{% block chart %}
<script src="{{ url_for('static', filename='jquery_1.8.3_min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery_location.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui-1.12.1.custom/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='jquery_download.js') }}"></script>
{% endblock %}
