<!doctype html>
<html lang="en" charset="utf-8">
	<head>
		{% if title %}
		<title>BreedCAFS database tools - {{ title }}</title>
		{% else %}
		<title>Welcome to BreedCAFS database tools</title>
		{% endif %}
	</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<body>
	<div class="page">
		<div class="metanav">
			{% if session.username %}
				<a>Logged in as {{ session.username }}:</a>
				<a href="{{ url_for('logout') }}">Logout</a>
			{% endif %}
		</div>
		<div class="header">
			<a href="/index"><img src="/static/logo.png"></a>
			<a href="/index"><h1>BreedCAFS database tools</h1></a>
			{% if session.username %}
			<div class="utils">
				<a href="{{ url_for('create') }}"><img src="{{ url_for('static', filename='create.svg') }}"></a>
				<a href="{{ url_for('upload') }}"><img src="{{ url_for('static', filename='upload.svg') }}"></a>
				<a href="{{ url_for('download') }}"><img src="{{ url_for('static', filename='download_espresso.svg') }}"></a>
				<a href="{{ url_for('help') }}"><img src="{{ url_for('static', filename='help.svg') }}"></a>
				<a href="{{ url_for('user') }}"><img src="{{ url_for('static', filename='user.svg') }}"></a>
				{% if ('global_admin' in session.access) or ('partner_admin' in session.access) %}
					<a href="{{ url_for('admin') }}"><img src = "{{ url_for('static', filename='admin.svg') }}"> </a>
				{% endif %}
			</div>
			{% endif %}
		</div>
		{% for message in get_flashed_messages() %}
			<div class="flash">{{ message }}</div>
		{% endfor %}
		<div class="main">
			{% block body %}
			{% if not session.username %}
			<div class="text_body">
				<p><a href="{{ url_for('register') }}">Register</a> as a new user or <a href="{{ url_for('login') }}">login</a></p>
			</div>
			{% endif %}		
			{% endblock %}
			{% block chart %}{% endblock %}
		</div>
	</div>
</body>
</html>