{% extends "layout.html" %}	
{% block body %}
<div class="text_body">
	{% from "_formhelpers_locations_trees.html" import render_field %}
	<h2>Fieldbook tools</h2>
	<h3>Register fields</h3>
	<a>Select a plot and enter the number of trees to register<br></a>
		<a> {{ country }} </a>
		<form action="{{ url_for('register_trees') }}" id="register_trees" method="post">
			{{ register_trees.csrf_token }}
			{{ render_field (register_trees.country) }}
			{{ render_field (add_country.text_country) }} 
			{{ render_field (add_country.submit_country) }}
			{{ render_field (register_trees.region) }}
			{{ render_field (add_region.text_region) }} 
			{{ render_field (add_region.submit_region) }}
			{{ render_field (register_trees.farm) }}
			{{ render_field (add_farm.text_farm) }} 
			{{ render_field (add_farm.submit_farm) }}
			{{ render_field (register_trees.plot) }}
			{{ render_field (add_plot.text_plot) }} 
			{{ render_field (add_plot.submit_plot) }}
			{{ render_field (register_trees.count) }}
			{{ render_field (register_trees.submit_trees) }}
		</form>
</div>
<script src="static/jquery_1.8.3_min.js"></script>
<script src="static/location_select.js"></script>
{% endblock %}
{% block chart %}
<div class="chart">
	<p>Registered plots and counts of trees (click to expand/collapse)</p>
	<svg width=500 height=500></svg>
	<script>jsonData = "/json_plots_treecount";</script>
	<script type="text/javascript" src="static/d3.v4.min.js"></script>
	<script type="text/javascript" src="static/d3_tree.js" charset="utf-8"></script>
</div>
{% endblock %}