{% extends "layout.html" %}	
{% block body %}
<div class="text_body">
	{% from "_formhelpers_location_trees.html" import render_field %}
	<h2>Register fields</h2>
		<form action="{{ url_for('location_trees') }}" id="location_trees" method="post">
			{{ location_form.csrf_token }}
			{{ render_field (location_form.country) }}
			{{ render_field (location_form.region) }}
			{{ render_field (location_form.farm) }}
			{{ render_field (location_form.plot) }}
			<a>Optional:</a>{{ render_field (location_form.block) }}
			<p>This can also be entered for each tree in Field-Book</p>
			<br><a>Add trees to the selected plot</a><br>
			{{ render_field (add_trees_form.count) }}
			{{ render_field (add_trees_form.submit_trees) }}
			{{ render_field (add_trees_form.email_checkbox_add) }}
			<br><a>Download trees.csv for the selected plot:</a><br>
			{{ render_field (custom_trees_form.trees_start) }}
			{{ render_field (custom_trees_form.trees_end) }}
			{{ render_field (custom_trees_form.custom_trees_csv) }}
			{{ render_field (custom_trees_form.email_checkbox_custom) }}
		</form>
</div>
{% endblock %}

{% block chart %}
<div class="chart">
	<p>Registered plots and counts of trees (click to expand/collapse)</p>
	<svg width=500 height=500></svg>
</div>
<script>jsonData = "/json_plots_treecount";</script>
<script src="{{ url_for('static', filename='d3.v4.min.js') }}"></script>
<script src="{{ url_for('static', filename='d3_tree.js') }}"></script>
<script src="{{ url_for('static', filename='jquery_1.8.3_min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery_location.js') }}"></script>
<script src="{{ url_for('static', filename='jquery_trees.js') }}"></script>
{% endblock %}