{% extends "layout.html" %}	
{% block body %}
<div class="text_body">
	{% from "_formhelpers_location_trees.html" import render_field %}
	<h2>Fieldbook tools</h2>
	<h3>Register fields</h3>
		<a> {{ country }} </a>
		<form action="{{ url_for('location_trees') }}" id="location_trees" method="post">
			{{ location_form.csrf_token }}
			{{ render_field (location_form.country) }}
			{{ render_field (add_country.text_country) }} 
			{{ render_field (add_country.submit_country) }}
			{{ render_field (location_form.region) }}
			{{ render_field (add_region.text_region) }} 
			{{ render_field (add_region.submit_region) }}
			{{ render_field (location_form.farm) }}
			{{ render_field (add_farm.text_farm) }} 
			{{ render_field (add_farm.submit_farm) }}
			{{ render_field (location_form.plot) }}
			{{ render_field (add_plot.text_plot) }} 
			{{ render_field (add_plot.submit_plot) }}
			{{ render_field (add_trees.count) }}
			{{ render_field (add_trees.submit_trees) }}
			{{ render_field (fields_form.trees_start) }}
			{{ render_field (fields_form.trees_end) }}
			{{ render_field (fields_form.submit_fields) }}
		</form>
</div>
{% endblock %}
{% block chart %}
<div class="chart">
	<p>Registered plots and counts of trees (click to expand/collapse)</p>
	<svg width=500 height=500></svg>
	<script>jsonData = "/json_plots_treecount";</script>
	<script type="text/javascript" src="static/d3.v4.min.js"></script>
	<script type="text/javascript" src="static/d3_tree.js" charset="utf-8"></script>
	<script src="static/jquery_1.8.3_min.js"></script>
	<script src="static/location_select.js"></script>
</div>
{% endblock %}