{% extends "layout.html" %}	
{% block body %}
<div class="text_body">
	{% from "_formhelpers_admin.html" import render_field %}
	<h2>Partner admin</h2>
		<form action="{{ url_for('partner_admin') }}" method="post">
			{{ form.csrf_token }}
			<div id = 'admin'>
				<table>
					<tr><th></th><th>Name</th><th>Institute</th></tr>
					{{ render_field(form.partner_admins) }}
				</table>
			</div>
			<br><br>
			<div id = 'non-admin'>
				<table>
					<tr><th></th><th>Name</th><th>Institute</th></tr>
					{{ render_field(form.not_partner_admins) }}
				</table>
			</div>
			<input id="submit" type="submit" value="Add/remove partner admin privilege">
		</form>

</div>
<script src="{{ url_for('static', filename='jquery_1.8.3_min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery_partner_admin.js') }}"></script>
{% endblock %}