{% extends "layout.html" %}
{% block body %}
    {% from "_formhelpers_record.html" import render_field %}
    <form>
    <h2>Record</h2>
        <div class="inner_main">
            <div class="text_body">
                <h3>Select the type of item</h3>
                <dd>{{  record_form.item_level }}</dd>
                <div id="location">
                    <h3>Filter to select specific items</h3>
                    <dd>{{ render_field (location_form.country) }}</dd>
                    <dd>{{ render_field (location_form.region) }}</dd>
                    <dd>{{ render_field (location_form.farm) }}</dd>
                    <dd>{{ render_field (location_form.field) }}</dd>
                </div>
                <div id="block_div">
                    <dd>{{ render_field (location_form.block) }}</dd>
                </div>
                <div id = 'tree_selection_div' title="List of tree IDs, e.g. '1,2-5'. ID is the integer from the end of a UID, e.g. from 1_T2 the ID is 2">
                    <dd>{{ render_field (record_form.tree_id_list) }}</dd>
                </div>
                <div id = 'sample_selection_div' title="List of sample IDs, e.g. '1,2-5'. ID is the integer from the end of a UID, e.g. from 1_S2 the ID is 2">
                    <dd>{{ render_field (record_form.sample_id_list) }}</dd>
                </div>
                <div id="item_count_div">
                    <h3>Selection</h3>
                    <p><a>0</a> <a>items</a></p>
                </div>
                <div id='input_variable_selection'>
                    <h3>Select inputs</h3>
                        {% if ('global_admin' in session.access) or ('partner_admin' in session.access) %}
		        			<a href=" {{  url_for('input_group_management') }}">
                                Click here to create and manage input groups
                            </a><br><br>
        				{% endif %}
                        <dd>{{  render_field (record_form.input_group) }}</dd>
                </div>
                <div id="replicates_div" title="Number of replicated measures per item">
                    <h3>Replicates (optional)</h3>
                            <p>
                                If more than one (default) then replicate codes will be appended
                                to the UID to differentiate records from the same point in time.
                                This is applied to traits and curves only.
                            </p>
                            {{  render_field (record_form.replicates) }}
                    <h3>Rows per item</h3>
                        <p>
                            Number of rows to include per item (or per replicate if used)
                            This is to support a single template for multiple time points or periods.
                        </p>
                        {{  render_field (record_form.time_points) }}<br>
                </div>
                <div id="generate_template_div">
                    {{  render_field (record_form.template_format) }}
                    <input id="generate_template" name="generate_template" type="submit" value="Generate template">
                </div>
                {{ record_form.csrf_token }}
            </div>
        </div>
   </form>
<script src="{{ url_for('static', filename='jquery_1.8.3_min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery_location.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui-1.12.1.custom/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='jquery_record.js') }}"></script>

{% endblock %}