{% extends "layout.html" %}
{% block body %}
<div class="text_body">
	{% from "_formhelpers.html" import render_field %}
	<h2>Register</h2>
		<form action="{{ url_for('register') }}" method="post">
		{{ form.csrf_token }}
			<dl>
				{{ render_field(form.username) }}
				{{ render_field(form.email) }}
				{{ render_field(form.name) }}
				{{ render_field(form.partner) }}
				{{ render_field(form.password) }}
				{{ render_field(form.confirm) }}
			</dl>
			<input type="submit" value="Register">
		</form>
</div>
{% endblock %}