{% extends "layout.html" %}	
{% block body %}
{% from "_formhelpers_register_trees.html" import render_field %}
<h2>Fieldbook tools</h2>
<h3>Register fields</h3>
<a>Select the plot and set the number of trees to register.<br></a>
<a>Trees will be assigned unique ID's in the database and a fields.csv file will be generated, a copy will also be emailed to your user address.<br></a>
<a>This file is to be placed in Field-Book's field_import directory on your mobile device</a>
	<form action="{{ url_for('register_trees') }}" method="post">
		{{ register_trees.csrf_token }}
		{{ render_field (register_trees.country) }}
		{{ render_field (add_country.text_country) }} 
		{{ render_field (add_country.submit_country) }}
		{{ render_field (register_trees.region) }}
		{{ render_field (add_region.text_region) }} 
		{{ render_field (add_region.submit_region) }}
		{{ render_field (register_trees.farm) }}
		{{ render_field (add_farm.text_farm) }} 
		{{ render_field (add_farm.submit_farm) }}
		{{ render_field (register_trees.plot) }}
		{{ render_field (add_plot.text_plot) }} 
		{{ render_field (add_plot.submit_plot) }}
		{{ render_field (register_trees.count) }}
		{{ render_field (register_trees.submit_trees) }}
	</form>
{% endblock %}
