{% extends "layout.html" %}	
{% block body %}
<div class=text_body>
	{% from "_formhelpers_sample_reg.html" import render_field %}
	<h2>Samples</h2>
		<form action="{{ url_for('sample_reg') }}" id="sample_reg" method="post">
			<h3>Register</h3>
			{{ sample_reg_form.csrf_token }}
			<dt>{{ render_field (location_form.country) }}</dt>
			<dt>{{ render_field (location_form.region) }}</dt>
			<dt>{{ render_field (location_form.farm) }}</dt>
			<dt>{{ render_field (location_form.trial) }}</dt>
			<dt>{{ render_field (sample_reg_form.trees_start) }}
				{{ render_field (sample_reg_form.trees_end) }}</dt>
			<dt>{{ render_field (sample_reg_form.replicates) }}</dt>
			<dt>{{ render_field (sample_reg_form.tissue) }}
				{{ render_field (add_tissue_form.text_tissue) }}
				{{ render_field (add_tissue_form.submit_tissue) }}</dt>
			<dt>{{ render_field (sample_reg_form.storage) }}
				{{ render_field (add_storage_form.text_storage) }}
				{{ render_field (add_storage_form.submit_storage) }}</dt>
			<dt>{{ render_field (sample_reg_form.date_collected) }}</dt>
			<dt>{{ render_field (sample_reg_form.submit_samples) }}
				{{ render_field (sample_reg_form.email_checkbox) }}</dt>
			<br>
			<h3>Create custom samples.csv</h3>
			<p>The resulting file is filtered with values from the above form,
			 	excluding the date collected which can be entered as a range below. 
				Replicates number is treated as a minimum number of replicates registered. </p>
			<dt>{{ render_field (custom_sample_form.date_from) }}
				{{ render_field (custom_sample_form.date_to) }}</dt>
			<dt>{{ render_field (custom_sample_form.samples_start) }}
				{{ render_field (custom_sample_form.samples_end) }}</dt>
			<dt>{{ render_field (custom_sample_form.make_samples_csv) }}
				{{ render_field (custom_sample_form.email_checkbox_custom) }}</dt>
		</form>
</div>
<script src="{{ url_for('static', filename='jquery_1.8.3_min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery_location.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui-1.12.1.custom/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='jquery_samples.js') }}"></script>
{% endblock %}
