{% extends "layout.html" %}	
{% block body %}
<div class="text_body">
	{% from "_formhelpers.html" import render_field %}
	<h2>Fieldbook tools</h2>
	<h3>Create traits.trt</h3>
		<form action="{{ url_for('create_trt') }}" method="post">
		{{ form.csrf_token }}
			<dl>{{ render_field(form.general) }}</dl>
			<dl>{{ render_field(form.agronomic) }}</dl>
			<dl>{{ render_field(form.morphological) }}</dl>
			<dl>{{ render_field(form.photosynthetic) }}</dl>
			<dl>{{ render_field(form.metabolomic) }}</dl>
			<input type="submit" value="Create">
		</form>
</div>
{% endblock %}