{% extends "layout.html" %}	
{% block body %}
<div class="text_body">
	{% from "_formhelpers.html" import render_field %}
	<h2>Create {{ level }} traits file</h2>
		<form action="{{ url_for('select_traits', level = level) }}" method="	post">
			{% include 'traits_form.html' %}
		<input id="submit_traits" type="submit" value="Create">
		{{ render_field(traits_form.email_checkbox) }}
		</form>
</div>
<script src="{{ url_for('static', filename='jquery_1.8.3_min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery_traits.js') }}"></script>
{% endblock %}