{% extends "layout.html" %}
{% block body %}
<div class="text_body">
{% from "_formhelpers.html" import render_field %}
	<h2>Upload CSV</h2>
		<form action="{{ url_for('upload') }}" method="post" enctype=multipart/form-data>
		{{ form.csrf_token }}
			<dl>
			{{ render_field(form.submission_type) }}
			{{ render_field(form.file) }}
			</dl>
			<input type=submit value=Upload>
		</form>
</div>
{% endblock %}
{% block chart %}
<div class="chart"
	<a> Summary of data you submitted in the last 24 hours <br> - limited to 100 nodes (will create summary statistics instead)<br> </a>
	<svg width=500 height=500></svg>
</div>
<script src="{{ url_for('static', filename='d3.v4.min.js') }}"></script>
<script src="{{ url_for('static', filename='d3-selection-multi.v1.min.js') }}"></script>
<script> var data = "/json_submissions"</script>
<script src="{{ url_for('static', filename='static/d3_node_link.js') }}"></script>
{% endblock %}