{% extends "layout.html" %}
{% block body %}
<div class="text_body">
{% from "_formhelpers.html" import render_field %}
	<h2>Upload Data</h2>
		<form action="{{ url_for('upload') }}" method="post" enctype=multipart/form-data>
			<dl>
				{{ render_field(form.submission_type) }}
			</dl>

            <br><br>
            <p>Drag and drop or click below</p>
            <img id='upload_button' width=200 src="{{ url_for('static', filename='upload.svg') }}"></a>
            {{ form.csrf_token }}
            <a id="filename"></a>
		</form>
</div>
{% endblock %}
{% block chart %}
<div class="chart">
	<a> Summary of data you submitted this week: <br></a>
	<svg width=500 height=500></svg>
</div>
<script src="{{ url_for('static', filename='jquery_1.8.3_min.js') }}"></script>
<script src="{{ url_for('static', filename='resumable.js-master/resumable.js') }}"></script>
<script src="{{ url_for('static', filename='d3.v4.min.js') }}"></script>
<script src="{{ url_for('static', filename='d3-selection-multi.v1.min.js') }}"></script>
<script src="{{ url_for('static', filename='d3_node_link.js') }}"></script>
<script src="{{ url_for('static', filename='jquery_upload.js') }}"></script>
 {% endblock %}